In [1]:
import numpy as np
import pandas as pd
import random
import swifter
from IPython.display import clear_output
import copy

d:\anaconda3\envs\black-box\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
d:\anaconda3\envs\black-box\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
d:\anaconda3\envs\black-box\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
data_v5 = pd.read_csv('datasets/Adversarial_data_RF_v5.csv', header=None)
data_v12 = pd.read_csv('datasets/Adversarial_data_RF_v12.csv', header=None)
data = pd.read_csv('datasets/Adversarial_data_RF_v20.csv', header=None)
test = pd.read_csv('./datasets/output-TrojanAsproxOld.csv', header=0)

In [3]:
data_v5.head()

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data_v12.head()

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
test.head()

                             udps.n_bytes_per_packet
0  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
1  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
2  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
3  [[46, 53, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 3, 100...
4  [[1, 153, 213, 211, 0, 8, 0, 2, 24, 156, 0, 1,...

In [6]:
title=['udps.n_bytes_per_packet']
new_data_v5 = pd.DataFrame(columns=title)
new_data_v12 = pd.DataFrame(columns=title)
new_data = pd.DataFrame(columns=title)

In [7]:
new_data_v5 = pd.DataFrame(data_v5.apply(lambda row: ','.join(row.values.astype(str)), axis=1), columns=title)
new_data_v12 = pd.DataFrame(data_v12.apply(lambda row: ','.join(row.values.astype(str)), axis=1), columns=title)
new_data = pd.DataFrame(data.apply(lambda row: ','.join(row.values.astype(str)), axis=1), columns=title)

In [8]:
new_data_v5.head()

                             udps.n_bytes_per_packet
0  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
1  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
2  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
3  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
4  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...

In [9]:
new_data_v12.head()

                             udps.n_bytes_per_packet
0  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
1  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
2  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
3  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
4  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...

In [10]:
new_data_v5['udps.n_bytes_per_packet'] = "[[" + new_data_v5['udps.n_bytes_per_packet'] + "]]"
new_data_v12['udps.n_bytes_per_packet'] = "[[" + new_data_v12['udps.n_bytes_per_packet'] + "]]"
new_data['udps.n_bytes_per_packet'] = "[[" + new_data['udps.n_bytes_per_packet'] + "]]"

In [11]:
new_data_v5.head()

                             udps.n_bytes_per_packet
0  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
1  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
2  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
3  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
4  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...

In [12]:
new_data_v12.head()

                             udps.n_bytes_per_packet
0  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
1  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
2  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
3  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
4  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...

In [14]:
new_data.head()

                             udps.n_bytes_per_packet
0  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
1  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
2  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
3  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
4  [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...

In [13]:
new_data_v5.to_csv('datasets/Adversarial_data_RF_v5_updated.csv' ,header=True,index=False)
new_data_v12.to_csv('datasets/Adversarial_data_RF_v12_updated.csv' ,header=True,index=False)
new_data.to_csv('datasets/Adversarial_data_RF_v20_updated.csv' ,header=True,index=False)